mat-card-actions button {
    width: 100px;
    margin-right: 10px;
}

.mat-form-field {
    width: 100%;
}

.card-login {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.card-login img {
    width: 100px;
    border-radius: 50%;
}